{{define "image"}}

    <h3>
        Carson Wentz Sprains All of His Ankles
    </h3>
    <img src="https://media.giphy.com/media/l2JdZqtpVzcK5kaL6/giphy.gif?cid=ecf05e47e2ajg0beslfc373susi8mrehkf3weoocf5kvgztc&rid=giphy.gif&ct=g" alt="Ankle">
    <p>
        Live look of Carson Wentz down on the field.
    </p>

{{end}}