{{define "title"}}

    <div>
        <h1>
            Pendo Fantasy Football Digest
        </h1>
        <img src="https://i.ibb.co/X2tDH9z/pendo3.png" alt="pendo-logo">
        <br>
        <br>
        <br>
        <br>
    </div>

{{end}}